/*
COLORS:
    Light pink: #e67fa3 #e52466
    Medium pink: #d72f59
    Dark pink: #a50029
*/

/* news */
main {
    padding-top: 5rem;
}

.background {
    background: url("../img/news-background.png") center/cover;
    filter: blur(3px) grayscale(40%);

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.news {
    /* width: 80%; */
    width: 100%;
    margin: 1rem 0;
    background: #e67fa3;
    border: 4px solid #a50029;
    filter: opacity(85%);
}

.news a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2rem;
}

.news:hover,
.news:active {
    border-color: #e52466;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.news-bedge {
    position: absolute;
    top: 5%;
    left: 80%;
    
    padding: 0.3rem;
    font-size: 1.2rem;
    font-style: italic;
    color: white;
    border: white solid 1px;
}

.news-date {
    font-size: 1rem;
    color: #404040;
    font-weight: lighter;
}

.news-title {
    font-size: 1.5rem;
}

.clearfix {
    clear: both;
}

#news1 {
    background: rgba(228, 47, 110, 0.95);
    position: relative;
}

#news2 {
    background: rgba(223, 78, 129, 0.95);
}

#news3 {
    background: rgba(228, 122, 159, 0.95);
}

.news-info {
    font-family: 'Hahmlet', serif;
    padding: 1rem;
    color: #a50029;
    background: white;
    border: 2px solid #a50029;
}

@media (min-width: 40rem){
    .news {
        width: 80%;
        max-width: 800px;
        /* margin: 3rem auto; */
        margin-left: auto;
        margin-right: auto;
    }
    #news2 {
        text-align: right;
        float: right;
    }
}