p {
    font-family: sans-serif;
}

#overview {
    background: purple;
}

#overview h1 {
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans KR', sans-serif;
}

.section-title {
    color: purple;
    font-family: inherit;
}