.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, [col-start] 150px [col-end]);
    grid-template-rows: repeat(4, 80px);
    grid-template-areas:
        "header header header header"
        "main main main side"
        "main main main side"
        "footer footer footer footer";
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column: col-start 1 / col-end 3;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-area: main; */
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-area: side; */
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    /* grid-area: footer; */
}