/*
COLORS:
    Light pink: #e67fa3 #e52466
    Medium pink: #d72f59
    Dark pink: #a50029
*/

main {
    padding-top: 1rem;
}

.fan-club-title {
    text-align: center;
    font-size: 1.8rem;
    color: #a50029;
}

.fan-clup-form {
    padding: 1rem;
}

.fan-clup-form label {
    font-weight: bold;
}

.fan-clup-form label,
.fan-clup-form input,
.fan-clup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.fan-clup-form input[id*="agree"],
.fan-clup-form input[id*="agree"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.fan-clup-form input:not([type="checkbox"]),
.fan-clup-form select {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.fan-clup-form input:not([type="checkbox"]):focus,
.fan-clup-form select:focus {
    outline: none;
    background-color: #ffeaf1;
    border-color: #a50029;
}

.fan-clup-form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fan-clup-form input[type="checkbox"]:checked {
    outline: none;

    background: #a50029;
    border-color: #a50029;
}

.fan-clup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

@media (min-width: 40rem) {
    .fan-clup-form  {
        margin: auto;
        width: 25rem;
    }
}