/*
COLORS:
    Light pink: #e52466
    Medium pink: #d72f59
    Dark pink: #a50029
*/

#product-overview {
    width: 100vw;
    height: 40vh;

    background: linear-gradient(rgba(180, 68, 18, 0.2) 10%, transparent),
        url("./img/main-background.jpg") center/cover no-repeat border-box;
    margin-top: 4.4rem;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1rem;
}

@media (min-width: 40rem) and (min-height: 40rem){
    #product-overview {
        height: 70vh;
    }

    #product-overview h1 {
        font-size: 1.8rem;
    }
}

.section-title {
    color: #e52466;
    text-align: center;
    font-weight: bold;
    font-size: 1.9rem;
    letter-spacing: 0.5rem;
}

/* songs */
.song__list {
    width: 95%;
    margin: 0 auto;
}

.song {
    background: #e67fa3;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    display: block;
    /* vertical-align: middle; */
    border-radius: 0.5rem;
}

.song--highlighted {
    background: #db477b;
    color: white;
}

.plan__annotation {
    background: white;
    color: #db477b;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
}

.song__title-jp {
    font-size: 1.9rem;
    margin: 0.6rem;
    color: white;
}

.song__title-ko {
    font-size: 1.25rem;
    color: #a50029;
}

.song--highlighted .song__title-ko {
    color: #540015;
}

.song__detail {
    list-style: none;
    text-align: left;
    padding: 0rem;
    margin: 0.2rem 0.6rem;
}

.song__detail li {
    margin: 0.5rem 0;
}

@media (min-width: 40rem){
    .song__list {
        width: 100%;
        text-align: center;
    }
    .song {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        max-width: 20rem;
    }
    .song--highlighted {
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    }
}

/* members */
#members {
    background: #540015;
    margin-top: 5rem;
    padding: 1rem;
}

#members .section-title {
    color: white;
    margin: 3rem;
}

.members__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.member {
    display: block;
}

.member__image {
    background: #ccc;
    width: 8rem;
    height: 8rem;
    border: 2px solid #a50029;
    border-radius: 50%;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
}

.member__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.member__name {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

@media (min-width: 40rem){
    .member {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        max-width: 19rem;
    }
}

/* modal */
.modal {
    position: fixed;
    display: none;
    z-index: 200;

    top: 20%;
    left: 30%;
    width: 40%;
    padding: 1rem;

    background-color: white;
    border: 3px solid #a50029;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.modal__title {
    text-align: center;
    margin-bottom: 2rem;
}

.modal__actions {
    text-align: center;
}

.modal__actions a {
    text-decoration: none;
}

.modal__action--negative {
    background-color: white;
    border: 3px solid #ccc;
    color: black;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    border: 3px solid white;
    background-color: #ccc;
    color: white;
}