/*
COLORS:
    Light pink: #e52466
    Medium pink: #d72f59
    Dark pink: #a50029
*/

#product-overview {
    width: 100%;
    height: 528px;

    background: linear-gradient(rgba(180, 68, 18, 0.2) 10%, transparent),
        url("./img/main-background.jpg") left top/cover no-repeat border-box;
    /* padding: 10px; */
    position: relative;
}

.section-title {
    color: #e52466;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 8px;
}

#product-overview h1 {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

/* songs */
.song__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.song {
    background: #e67fa3;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 8px;
}

.song--highlighted {
    background: #db477b;
    color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #db477b;
    padding: 8px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.song__title-jp {
    font-size: 30px;
    margin: 10px;
    color: white;
}

.song__title-ko {
    font-size: 20px;
    color: #a50029;
}

.song--highlighted .song__title-ko {
    color: #540015;
}

.song__detail {
    list-style: none;
    text-align: left;
    padding: 0px;
    margin: 20px 10px;
}

.song__detail li {
    margin: 8px 0;
}

/* members */
#members {
    background: #540015;
    margin-top: 80px;
    padding: 16px;
}

#members .section-title {
    color: white;
    margin: 32px;
}

.members__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.member {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.member__image {
    background: #ccc;
    width: 128px;
    height: 128px;
    border: 2px solid #a50029;
    border-radius: 50%;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
}

.member__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.member__name {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}