@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet');

:root {
    --light-pink: #e52466;
    --medium-pink: #d72f59;
    --dark-pink: #a50029;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Noto ans KR', sans-serif;
    margin: 0;
    height: 100%;

    display: grid;
    grid-template-rows: 4.375rem auto fit-content(8rem);
    /* padding-top: 0.6rem; */
    grid-template-areas: 
        "header"
        "main"
        "footer";
    
}

main {
    /* min-height: calc(100vh - 4.375rem - 10.25rem); */
    /* margin-top: 4.375rem; */
    grid-area: main;
}

.backdrop {
    display: none;
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    background: rgba(204, 204, 204, 0.5);
}

/* header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    background: black;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.25rem 1rem;
    z-index: 3;
}

.toggle-button {
    display: inline-block;
    width: 3rem;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0.5rem;

    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}



.main-header__brand {
    color: var(--light-pink, #e52466);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.9rem;
    vertical-align: middle;
    
    height: 1.9rem;
}

.main-header__brand img {
    height: 1.9rem;
}

.main-nav {
    display: none;
    text-align: right;
    /* width: calc(100% - 120px); */
    vertical-align: middle;
}

.main-nav__item {
    margin: 0rem 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: var(--light-pink);
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main-nav__item--cta {
    animation: wiggle 400ms 1s 8;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background-color: var(--medium-pink);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: var(--medium-pink);
    background-color: white;
    border: none;
}

/* mobile nav */
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    
    top: 0;
    left: 0;

    background: black;
    width: 40%;
    height: 100vh;
}

.mobile-nav__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0% auto;
    padding: 0;
    /* text-align: center; */
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
  }

/* button */
.button {
    background: var(--dark-pink);
    color: white;
    font: inherit;
    border: 0;
    padding: 0.5rem 1.9rem;
    border: 3px solid var(--dark-pink);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #a50029;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background-color: #ccc;
    color: #a1a1a1;
}

/* footer */
.main-footer {
    background: black;
    color: white;
    padding: 2rem;
    margin-top: 5rem;
    grid-area: footer;
}

.main-footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    list-style: none;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.main-footer__link {
    /* display: block; */
    margin: 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

@media (min-width: 40rem){
    .toggle-button {
        display: none;
    }
}

@media (min-width: 40rem){
    .main-nav {
        display: flex;
    }
}


@media (min-width: 40rem){
    .main-footer__link {
        margin: 0 1rem;
    }

    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}