.element {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 10rem;
    font-size: 2rem;
    text-align: center;

    background-color: aquamarine;
    border: 4px solid #ccc;

    /* transform: rotateZ(45deg); */
    /* transform: translateX(3rem); */
    /* transform: skewY(45deg); */
    transform: scaleX(2);
    /* transform: scaleY(-2); */
    transform-origin: center;
}