/*
COLORS:
    Light pink: #e67fa3 #e52466
    Medium pink: #d72f59
    Dark pink: #a50029
*/

.media {
    font-size: 1.3rem;
    padding-top: 6rem;
    /* margin: 3rem 0; */
}

.media__image-container {
    width: 100%;
    min-width: 10rem;
    /* display: inline-block; */
    /* vertical-align: middle; */
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__image {
    width: 100%;
    vertical-align: top;
}

.testimonial__info {
    text-align: right;
    padding: 0.9rem;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* width: 60%; */
}

#media-2.media {
    text-align: right;
}

#midia-2 .testimonial__info {
    text-align: left;
}

.testimonial__name {
    font-size: 2.5rem;
    margin: 3px;
    color: #a50029;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 0.9rem;
    color: #d72f59;
}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #ac8690;
}

.testimonial__text {
    margin: 0.2rem;
}

@media (min-width: 40rem){
    .media {
        margin: 3rem auto;
        max-width: 1280px;
    }

    .media__image-container {
        width: 30%;
        min-width: 18.75rem;
        display: inline-block;
        vertical-align: middle;
    }

    .testimonial__info {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }
}